* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #222222;
    /* ho dato lo sfondo del footer al body, così che non restano parti bianche */
}


/* CSS CONTAINER  */


/* CSS PHOTO  */

.container {
    width: 100%;
    height: 100vh;


}

.photo__container {
    background-color: black;
    position: relative;
}

.photo {
    display: flex;
    flex-basis: calc(calc(100% - 49px) / 7);
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 90px;

}

.profile {
    position: relative;
    margin-bottom: 14px;
    margin-right: 7px;

}





.mute {
    color: white;
    font-size: 12px;
    background-color: rgba(106, 118, 131, 0.5);
    position: absolute;
    left: 0;
    bottom: 4px;
    padding: 5px
}

/* CSS PHOTO BUTTONS  */


.photo__buttons {

    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin: 5px 5px;
    gap: 10px;

}

.photo__buttons>p {
    background-color: #4A4A4A;
    padding: 5px 3px;
    border-radius: 5px;
}


/* CSS FOOTER  */

.buttons {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    padding: 15px 10px;
    font-weight: 700;

}

.input__buttons,
.rooms__buttons {
    display: flex;
    gap: 20px;
}

.icon__microphone,
.icon__video,
.icon {
    display: flex;
    gap: 30px;
    font-size: 25px;
    padding-left: 9px;
}

.bottons-gap {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.manage {
    
    
    align-items: center;

}

.fa-angle-up {
    position: relative;
    top: 17px;
    font-size: 12px;
}

.icon__video {
    gap: 40px;
    padding-left: 20px;
}

.text__invite,
.text__chat,
.text__more{
    padding-left: 8px;
}

.fa-share-from-square{
    padding-left: 12px;
    color: chartreuse;
}

.fa-border-all{
    padding-left: 25px;
}